<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Camel Case, Snake Case로만 다를 경우
            resultMap을 안 써도 이 코드 쓰면 알아서 바꿔줌 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
   <typeAliases>
       <typeAlias type="web.admin.demo.dto.BoardDto" alias ="BoardDto"/>
       <typeAlias type="web.admin.demo.dto.Address" alias ="Address"/>
       <typeAlias type="web.admin.demo.dto.Attached_file" alias ="Attachedfile"/>
       <typeAlias type="web.admin.demo.dto.ResultDto" alias="ResultDto"/>

<!--        &lt;!&ndash; Dto 없이 Map 반환시 camel case 변환 Map &ndash;&gt;-->
        <typeAlias type="web.admin.demo.dto.CamelHashMap" alias="camelMap"/>
<!--        <typeAlias type="mz.hc.service.healthcare.dto.MonthDayDataDto" alias="MDDataDto"/>-->
<!--        <typeAlias type="mz.hc.service.healthcare.dto.MinuteDataDto" alias="minDataDto"/>-->
<!--        <typeAlias type="mz.hc.service.healthcare.dto.TestDto" alias="testDto"/>-->
<!--        <typeAlias type="mz.hc.service.healthcare.dto.ScoreDto" alias="scoreDto"/>-->
<!--        <typeAlias type="mz.hc.service.healthcare.dto.UserDateDto" alias="userDateDto"/>-->
<!--        <typeAlias type="mz.hc.service.healthcare.dto.HealthScoreDto" alias="healthScoreDto"/>-->
<!--        <typeAlias type="mz.hc.service.healthcare.dto.TargetDto" alias="targetdto"/>-->
    </typeAliases>
    <typeHandlers>
        <typeHandler handler= "web.admin.demo.config.IntegerArrayTypehandler"/>
    </typeHandlers>
</configuration>